---
Language: Cpp
BasedOnStyle: LLVM
ColumnLimit: 150
IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
DerivePointerAlignment: false
PointerAlignment: Left
SortIncludes: Never
AllowShortFunctionsOnASingleLine: Empty
...
