.idea/*
.vs/*
out/*
cmake-build-release/*
cmake-build-relwithdebinfo/*
src/gr_web_client/node_modules/*
src/gr_web_client/.idea/*
src/gr_web_client/.vscode/*
src/gr_web_client/dist/*
build_official/*
build_opensource/*
output/*
setup/app/*
setup/GammaRay_pdb_*/
__pycache__/
