.idea/*
.vs/*
out/*
cmake-build-release/*
cmake-build-relwithdebinfo/*
src/gr_web_client/node_modules/*
src/gr_web_client/.idea/*
src/gr_web_client/.vscode/*
src/gr_web_client/dist/*
web/gr_cms/node_modules/*
web/gr_cms/.idea/*
web/gr_cms/.vscode/*
web/gr_cms/dist/*
web/gr_cms/.output/*
web/gr_cms/coverage/*
web/gr_cms/test-results/*
web/gr_cms/playwright-report/*
web/gr_desk/node_modules/*
web/gr_desk/.idea/*
web/gr_desk/.vscode/*
web/gr_desk/dist/*
web/gr_desk/.output/*
web/gr_desk/coverage/*
web/gr_desk/test-results/*
web/gr_desk/playwright-report/*
build_official/*
build_opensource/*
output/*
setup/app/*
setup/GammaRay_pdb_*/
__pycache__/
