[submodule "third_party/freerdp/source"]
	path = third_party/freerdp/source
	url = https://github.com/FreeRDP/FreeRDP.git
[submodule "src/px_deps/px_sdl3"]
	path = src/px_deps/px_sdl3
	url = https://github.com/libsdl-org/SDL.git
[submodule "src/px_deps/px_imgui"]
	path = src/px_deps/px_imgui
	url = https://github.com/ocornut/imgui.git
