<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:networkSecurityConfig="@xml/network_security_config">
        <receiver
            android:name="yun.pixels.client.debug.RtcRecordingSmokeReceiver"
            android:exported="true"
            android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="yun.pixels.client.debug.RTC_RECORDING_SMOKE" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
